<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>DoAnCNPM_SE03</display-name>
  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  
  
  <!-- ============== Auth ==================== -->
  
  <!-- Đăng nhập trong public -->
  <servlet>
    <servlet-name>AuthPublicLoginController</servlet-name>
    <servlet-class>controller.AuthPublicLoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthPublicLoginController</servlet-name>
    <url-pattern>/auth/public/login</url-pattern>
  </servlet-mapping>
  
  <!-- Đăng xuất trong public -->
  <servlet>
    <servlet-name>AuthPublicLogoutController</servlet-name>
    <servlet-class>controller.AuthPublicLogoutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthPublicLogoutController</servlet-name>
    <url-pattern>/auth/public/logout</url-pattern>
  </servlet-mapping>
  
  <!-- Đăng nhập trong admin -->
  <servlet>
    <servlet-name>AuthAdminLoginController</servlet-name>
    <servlet-class>controller.AuthAdminLoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthAdminLoginController</servlet-name>
    <url-pattern>/auth/admin/login</url-pattern>
  </servlet-mapping>
  
  <!-- Đăng xuất trong admin -->
  <servlet>
    <servlet-name>AuthAdminLogoutController</servlet-name>
    <servlet-class>controller.AuthAdminLogoutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthAdminLogoutController</servlet-name>
    <url-pattern>/auth/admin/logout</url-pattern>
  </servlet-mapping>
  
  
  <!-- ============== admin ==================== -->
  
  
  <servlet>
    <servlet-name>AdminIndexController</servlet-name>
    <servlet-class>controller.AdminIndexController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminIndexController</servlet-name>
    <url-pattern>/admin</url-pattern>
  </servlet-mapping>
  
  <!-- ============== RIN QL dang ky de tai cua Khoa ==================== -->
   <servlet>
    <servlet-name>AdminIndexQLDKDTKhoa</servlet-name>
    <servlet-class>controller.AdminIndexQLDKDTKhoa</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminIndexQLDKDTKhoa</servlet-name>
    <url-pattern>/admin/qldangkydetai/index-khoa</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>AdminIndexQLDTKhoa</servlet-name>
    <servlet-class>controller.AdminIndexQLDTKhoa</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminIndexQLDTKhoa</servlet-name>
    <url-pattern>/admin/qldetai/index-khoa</url-pattern>
  </servlet-mapping>

   <servlet>
    <servlet-name>AdminDuyetDTKhoa</servlet-name>
    <servlet-class>controller.AdminDuyetDTKhoa</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDuyetDTKhoa</servlet-name>
    <url-pattern>/admin/qldangkydetai/duyet-de-xuat-khoa</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>AdminXemDeTai</servlet-name>
    <servlet-class>controller.AdminXemDeTai</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminXemDeTai</servlet-name>
    <url-pattern>/admin/qldangkydetai/xem_de_tai</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>AdminDetailDuyetDeXuatKhoa</servlet-name>
    <servlet-class>controller.AdminDetailDuyetDeXuatKhoa</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDetailDuyetDeXuatKhoa</servlet-name>
    <url-pattern>/admin/qldangkydetai/detail_duyet_dx_khoa</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>AdminDanhGiaDXKhoa</servlet-name>
    <servlet-class>controller.AdminDanhGiaDXKhoa</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDanhGiaDXKhoa</servlet-name>
    <url-pattern>/admin/qldangkydetai/danh_gia_dx_khoa</url-pattern>
  </servlet-mapping>
   
  
   <!-- ============== RIN QL duyet de xuat cua Nhan vien ==================== -->
   <servlet>
    <servlet-name>AdminIndexQLDKDTNhanVien</servlet-name>
    <servlet-class>controller.AdminIndexQLDKDTNhanVien</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminIndexQLDKDTNhanVien</servlet-name>
    <url-pattern>/admin/qldangkydetai/nhanvien/index_nhanvien</url-pattern>
  </servlet-mapping>
  
  <!-- ============== RIN QL duyet de xuat cua Nhan vien ==================== -->
   <servlet>
    <servlet-name>AdminDuyetDXNhanVien</servlet-name>
    <servlet-class>controller.AdminDuyetDXNhanVien</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDuyetDXNhanVien</servlet-name>
    <url-pattern>/admin/qldangkydetai/nhanvien/duyet_de_xuat_nv</url-pattern>
  </servlet-mapping>
  
  
  <!-- ============== RIN QL duyet de xuat cua Nhan vien ==================== -->
   <servlet>
    <servlet-name>AdminDetailDuyetDeXuatNhanVien</servlet-name>
    <servlet-class>controller.AdminDetailDuyetDeXuatNhanVien</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDetailDuyetDeXuatNhanVien</servlet-name>
    <url-pattern>/admin/qldangkydetai/nhanvien/detail_duyet_dx_nv</url-pattern>
   </servlet-mapping>
   
   
   <!-- ============== RIN QL duyet de xuat cua Nhan vien ==================== -->
   <servlet>
    <servlet-name>AdminDanhGiaDXNhanVien</servlet-name>
    <servlet-class>controller.AdminDanhGiaDXNhanVien</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDanhGiaDXNhanVien</servlet-name>
    <url-pattern>/admin/qldangkydetai/nhanvien/danh_gia_dx_nv</url-pattern>
   </servlet-mapping>
    
    
    <!-- ============== RIN QL duyet thuyet minh cua Nhan vien ==================== -->
   <servlet>
    <servlet-name>AdminDuyetTMNhanVien</servlet-name>
    <servlet-class>controller.AdminDuyetTMNhanVien</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDuyetTMNhanVien</servlet-name>
    <url-pattern>/admin/qldangkydetai/nhanvien/duyet_thuyet_minh_nv</url-pattern>
   </servlet-mapping>
   
   
   <!-- ============== RIN QL duyet thuyet minh cua Nhan vien ==================== -->
   <servlet>
    <servlet-name>AdminDetailDuyetThuyetMinhNhanVien</servlet-name>
    <servlet-class>controller.AdminDetailDuyetThuyetMinhNhanVien</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDetailDuyetThuyetMinhNhanVien</servlet-name>
    <url-pattern>/admin/qldangkydetai/nhanvien/detail_duyet_tm_nv</url-pattern>
   </servlet-mapping>
   
   
   <!-- ============== RIN QL duyet thuyet minh cua Nhan vien ==================== -->
   <servlet>
    <servlet-name>AdminDanhGiaTMNhanVien</servlet-name>
    <servlet-class>controller.AdminDanhGiaTMNhanVien</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDanhGiaTMNhanVien</servlet-name>
    <url-pattern>/admin/qldangkydetai/nhanvien/danh_gia_tm_nv</url-pattern>
   </servlet-mapping>
   
   <!-- ============== RIN QL xuat file nhan vien ==================== -->
   <servlet>
    <servlet-name>AdminExportDSDeXuat</servlet-name>
    <servlet-class>controller.AdminExportDSDeXuat</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminExportDSDeXuat</servlet-name>
    <url-pattern>/admin/qldangkydetai/nhanvien/export</url-pattern>
    </servlet-mapping>
    
    <!-- ============== QL xuat file Khoa ==================== -->
   <servlet>
    <servlet-name>AdminExportDSDeXuatKhoa</servlet-name>
    <servlet-class>controller.AdminExportDSDeXuatKhoa</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminExportDSDeXuatKhoa</servlet-name>
    <url-pattern>/admin/qldangkydetai/khoa/export</url-pattern>
    </servlet-mapping>
    
   
   <!-- ============== RIN QL duyet de xuat cua Admin ==================== -->
   <servlet>
    <servlet-name>AdminIndexQLDKDTAdmin</servlet-name>
    <servlet-class>controller.AdminIndexQLDKDTAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminIndexQLDKDTAdmin</servlet-name>
    <url-pattern>/admin/qldangkydetai/admin/index_admin</url-pattern>
    </servlet-mapping>
    
    
    <!-- ============== RIN QL duyet de xuat cua Admin ==================== -->
   <servlet>
    <servlet-name>AdminDuyetDXAdmin</servlet-name>
    <servlet-class>controller.AdminDuyetDXAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDuyetDXAdmin</servlet-name>
    <url-pattern>/admin/qldangkydetai/admin/duyet_de_xuat_ad</url-pattern>
    </servlet-mapping>
    
    
    <!-- ============== RIN QL duyet de xuat cua Admin ==================== -->
   <servlet>
    <servlet-name>AdminDetailDuyetDeXuatAdmin</servlet-name>
    <servlet-class>controller.AdminDetailDuyetDeXuatAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDetailDuyetDeXuatAdmin</servlet-name>
    <url-pattern>/admin/qldangkydetai/admin/detail_duyet_dx_ad</url-pattern>
    </servlet-mapping>
    
    
    <!-- ============== RIN QL duyet thuyet minh cua Admin ==================== -->
   <servlet>
    <servlet-name>AdminDuyetTMAdmin</servlet-name>
    <servlet-class>controller.AdminDuyetTMAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDuyetTMAdmin</servlet-name>
    <url-pattern>/admin/qldangkydetai/admin/duyet_thuyet_minh_ad</url-pattern>
    </servlet-mapping>
    
    
    <!-- ============== RIN QL duyet thuyet minh cua Admin ==================== -->
   <servlet>
    <servlet-name>AdminDetailDuyetThuyetMinhAdmin</servlet-name>
    <servlet-class>controller.AdminDetailDuyetThuyetMinhAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDetailDuyetThuyetMinhAdmin</servlet-name>
    <url-pattern>/admin/qldangkydetai/admin/detail_duyet_tm_ad</url-pattern>
    </servlet-mapping>
    
    
    <!-- ============== RIN QL de tai nhan vien ==================== -->
   <servlet>
    <servlet-name>AdminIndexQLDT</servlet-name>
    <servlet-class>controller.AdminIndexQLDT</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminIndexQLDT</servlet-name>
    <url-pattern>/admin/qldetai/index_nhanvien</url-pattern>
    </servlet-mapping>
    
    
    <!-- ============== RIN QL de tai nhan vien ==================== -->
   <servlet>
    <servlet-name>AdminDuyetNTNhanVien</servlet-name>
    <servlet-class>controller.AdminDuyetNTNhanVien</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDuyetNTNhanVien</servlet-name>
    <url-pattern>/admin/qldetai/duyet_nghiem_thu_nv</url-pattern>
    </servlet-mapping>
    
    
   <servlet>
    <servlet-name>AdminDetailXetDuyetNghiemThu</servlet-name>
    <servlet-class>controller.AdminDetailXetDuyetNghiemThu</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDetailXetDuyetNghiemThu</servlet-name>
    <url-pattern>/admin/qldetai/chi-tiet-nghiem-thu</url-pattern>
    </servlet-mapping>
    
    
    <!-- ============== RIN QL de tai admin ==================== -->
   <servlet>
    <servlet-name>AdminDuyetNTAdmin</servlet-name>
    <servlet-class>controller.AdminDuyetNTAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDuyetNTAdmin</servlet-name>
    <url-pattern>/admin/qldetai/duyet_nghiem_thu_ad</url-pattern>
    </servlet-mapping>
    
    
    
  <!--====== Cat ==========  -->
  
  <servlet>
    <servlet-name>AdminIndexCatController</servlet-name>
    <servlet-class>controller.AdminIndexCatController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminIndexCatController</servlet-name>
    <url-pattern>/admin/cat/index</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>AdminAddCatController</servlet-name>
    <servlet-class>controller.AdminAddCatController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminAddCatController</servlet-name>
    <url-pattern>/admin/cat/add</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>AdminEditCatController</servlet-name>
    <servlet-class>controller.AdminEditCatController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminEditCatController</servlet-name>
    <url-pattern>/admin/cat/edit</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>AdminDelCatController</servlet-name>
    <servlet-class>controller.AdminDelCatController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDelCatController</servlet-name>
    <url-pattern>/admin/cat/del</url-pattern>
  </servlet-mapping>
  
  
  <!--====== User ==========  -->
  <servlet>
    <servlet-name>AdminIndexUserController</servlet-name>
    <servlet-class>controller.AdminIndexUserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminIndexUserController</servlet-name>
    <url-pattern>/admin/user/index</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>AdminShowAddUserController</servlet-name>
    <servlet-class>controller.AdminShowAddUserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminShowAddUserController</servlet-name>
    <url-pattern>/admin/user/form-add</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>AdminAddUserController</servlet-name>
    <servlet-class>controller.AdminAddUserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminAddUserController</servlet-name>
    <url-pattern>/admin/user/add</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>AdminShowEditUserController</servlet-name>
    <servlet-class>controller.AdminShowEditUserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminShowEditUserController</servlet-name>
    <url-pattern>/admin/user/form-edit</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>AdminEditUserController</servlet-name>
    <servlet-class>controller.AdminEditUserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminEditUserController</servlet-name>
    <url-pattern>/admin/user/edit</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>AdminDelUserController</servlet-name>
    <servlet-class>controller.AdminDelUserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDelUserController</servlet-name>
    <url-pattern>/admin/user/del</url-pattern>
  </servlet-mapping>
  
  
   <servlet>
    <servlet-name>AdminShowDetailUserController</servlet-name>
    <servlet-class>controller.AdminShowDetailUserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminShowDetailUserController</servlet-name>
    <url-pattern>/admin/user/show</url-pattern>
  </servlet-mapping>
  
  <!--====== Hop dong ==========  -->  
   <servlet>
    <servlet-name>AdminExportHopDongController</servlet-name>
    <servlet-class>controller.AdminExportHopDongController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminExportHopDongController</servlet-name>
    <url-pattern>/admin/hopdong/export</url-pattern>
  </servlet-mapping>
  
  <!--====== Cấp đề tài ==========  -->
  <servlet>
    <servlet-name>AdminIndexCapDeTaiController</servlet-name>
    <servlet-class>controller.AdminIndexCapDeTaiController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminIndexCapDeTaiController</servlet-name>
    <url-pattern>/admin/capdetai/index</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>AdminAddCapDeTaiController</servlet-name>
    <servlet-class>controller.AdminAddCapDeTaiController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminAddCapDeTaiController</servlet-name>
    <url-pattern>/admin/capdetai/add</url-pattern>
  </servlet-mapping>
  
   
  <servlet>
    <servlet-name>AdminEditCapDeTaiController</servlet-name>
    <servlet-class>controller.AdminEditCapDeTaiController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminEditCapDeTaiController</servlet-name>
    <url-pattern>/admin/capdetai/edit</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>AdminDelCapDeTaiController</servlet-name>
    <servlet-class>controller.AdminDelCapDeTaiController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDelCapDeTaiController</servlet-name>
    <url-pattern>/admin/capdetai/del</url-pattern>
  </servlet-mapping>
  <!--====== thời gian DK ==========  -->
  <servlet>
    <servlet-name>AdminIndexThoiGianDKController</servlet-name>
    <servlet-class>controller.AdminIndexThoiGianDKController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminIndexThoiGianDKController</servlet-name>
    <url-pattern>/admin/thoigiandk/index</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>AdminEditThoiGianDKController</servlet-name>
    <servlet-class>controller.AdminEditThoiGianDKController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminEditThoiGianDKController</servlet-name>
    <url-pattern>/admin/thoigiandk/edit</url-pattern>
  </servlet-mapping>
 
  <!-- ========= Statistical ============= -->
  <servlet>
    <servlet-name>AdminFacultyStatController</servlet-name>
    <servlet-class>controller.AdminFacultyStatController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminFacultyStatController</servlet-name>
    <url-pattern>/admin/faculty-statistical</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>AdminGeneralStatController</servlet-name>
    <servlet-class>controller.AdminGeneralStatController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminGeneralStatController</servlet-name>
    <url-pattern>/admin/general-statistical</url-pattern>
  </servlet-mapping>
  <!-- ========= Notification Admin ============= -->
  <servlet>
    <servlet-name>AdminIndexNotificationController</servlet-name>
    <servlet-class>controller.AdminIndexNotificationController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminIndexNotificationController</servlet-name>
    <url-pattern>/admin/notif</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>AdminAddNotificationController</servlet-name>
    <servlet-class>controller.AdminAddNotificationController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminAddNotificationController</servlet-name>
    <url-pattern>/admin/add-notif</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminAjaxListDeTaiController</servlet-name>
    <servlet-class>controller.AdminAjaxListDeTaiController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminAjaxListDeTaiController</servlet-name>
    <url-pattern>/admin/ajax-get-list</url-pattern>
  </servlet-mapping>
  
  
  <!-- ================== public ==================== -->
  
  
  <servlet>
    <servlet-name>PublicIndexController</servlet-name>
    <servlet-class>controller.PublicIndexController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublicIndexController</servlet-name>
    <url-pattern></url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>PublicAddMemberController</servlet-name>
    <servlet-class>controller.PublicAddMemberController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublicAddMemberController</servlet-name>
    <url-pattern>/add-member</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <servlet-name>PublicIndexDetailDKDTController</servlet-name>
    <servlet-class>controller.PublicIndexDetailDKDTController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublicIndexDetailDKDTController</servlet-name>
    <url-pattern>/detail-dkdt</url-pattern>
  </servlet-mapping>
  
  
   <servlet>
    <servlet-name>PublicIndexDetailDeTaiController</servlet-name>
    <servlet-class>controller.PublicIndexDetailDeTaiController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublicIndexDetailDeTaiController</servlet-name>
    <url-pattern>/detail-detai</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <servlet-name>PublicEditMemberController</servlet-name>
    <servlet-class>controller.PublicEditMemberController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublicEditMemberController</servlet-name>
    <url-pattern>/edit-member</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <servlet-name>PublicGioiThieuController</servlet-name>
    <servlet-class>controller.PublicGioiThieuController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublicGioiThieuController</servlet-name>
    <url-pattern>/gioi-thieu</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <servlet-name>PublicLienHeController</servlet-name>
    <servlet-class>controller.PublicLienHeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublicLienHeController</servlet-name>
    <url-pattern>/lien-he</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>PublicListRegisterDetaiController</servlet-name>
    <servlet-class>controller.PublicListRegisterDetaiController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublicListRegisterDetaiController</servlet-name>
    <url-pattern>/list-register-detai</url-pattern>
  </servlet-mapping>
  
  
   <servlet>
    <servlet-name>PublicIndexQLDeTaiController</servlet-name>
    <servlet-class>controller.PublicIndexQLDeTaiController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublicIndexQLDeTaiController</servlet-name>
    <url-pattern>/quanly-detai</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>PublicIndexQLTaiKhoanController</servlet-name>
    <servlet-class>controller.PublicIndexQLTaiKhoanController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublicIndexQLTaiKhoanController</servlet-name>
    <url-pattern>/quanly-taikhoan</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>PublicIndexQLThanhVienController</servlet-name>
    <servlet-class>controller.PublicIndexQLThanhVienController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublicIndexQLThanhVienController</servlet-name>
    <url-pattern>/quanly-thanhvien</url-pattern>
  </servlet-mapping>
  
  
   <servlet>
    <servlet-name>PublicRegisterDeTaiController</servlet-name>
    <servlet-class>controller.PublicRegisterDeTaiController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublicRegisterDeTaiController</servlet-name>
    <url-pattern>/register-detai</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <servlet-name>PublicIndexThongBaoController</servlet-name>
    <servlet-class>controller.PublicIndexThongBaoController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublicIndexThongBaoController</servlet-name>
    <url-pattern>/thong-bao</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>PublicUpdateInfoPersonController</servlet-name>
    <servlet-class>controller.PublicUpdateInfoPersonController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublicUpdateInfoPersonController</servlet-name>
    <url-pattern>/update-infor-person</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>PublicUpdateDetaiDKController</servlet-name>
    <servlet-class>controller.PublicUpdateDetaiDKController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublicUpdateDetaiDKController</servlet-name>
    <url-pattern>/update-detai-dk</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
     <servlet-name>PublicIndexDKThuyetMinhController</servlet-name>
     <servlet-class>controller.PublicIndexDKThuyetMinhController</servlet-class>
  </servlet>
  <servlet-mapping>
     <servlet-name>PublicIndexDKThuyetMinhController</servlet-name>
     <url-pattern>/dangky-thuyetminh</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
     <servlet-name>PublicDownloadTMController</servlet-name>
     <servlet-class>controller.PublicDownloadTMController</servlet-class>
  </servlet>
  <servlet-mapping>
     <servlet-name>PublicDownloadTMController</servlet-name>
     <url-pattern>/download-bieumau-thuyetminh</url-pattern>
  </servlet-mapping>
  
  <servlet>
     <servlet-name>PublicEditThuyetMinhController</servlet-name>
     <servlet-class>controller.PublicEditThuyetMinhController</servlet-class>
  </servlet>
  <servlet-mapping>
     <servlet-name>PublicEditThuyetMinhController</servlet-name>
     <url-pattern>/edit-thuyetminh</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
     <servlet-name>PublicDownloadTMToEditController</servlet-name>
     <servlet-class>controller.PublicDownloadTMToEditController</servlet-class>
  </servlet>
  <servlet-mapping>
     <servlet-name>PublicDownloadTMToEditController</servlet-name>
     <url-pattern>/download-thuyetminh-to-edit</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
     <servlet-name>PublicSearchGiangVienController</servlet-name>
     <servlet-class>controller.PublicSearchGiangVienController</servlet-class>
  </servlet>
  <servlet-mapping>
     <servlet-name>PublicSearchGiangVienController</servlet-name>
     <url-pattern>/search-giangvien</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
     <servlet-name>PublicThongTinGVController</servlet-name>
     <servlet-class>controller.PublicThongTinGVController</servlet-class>
  </servlet>
  <servlet-mapping>
     <servlet-name>PublicThongTinGVController</servlet-name>
     <url-pattern>/thongtin-giangvien</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
     <servlet-name>PublicUpdateDetaiController</servlet-name>
     <servlet-class>controller.PublicUpdateDetaiController</servlet-class>
  </servlet>
  <servlet-mapping>
     <servlet-name>PublicUpdateDetaiController</servlet-name>
     <url-pattern>/update-detai</url-pattern>
  </servlet-mapping>
  
  <servlet>
     <servlet-name>PublicIndexThongBaoOldController</servlet-name>
     <servlet-class>controller.PublicIndexThongBaoOldController</servlet-class>
  </servlet>
  <servlet-mapping>
     <servlet-name>PublicIndexThongBaoOldController</servlet-name>
     <url-pattern>/thong-bao-old</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
     <servlet-name>PublicIndexThongBaoQLDTController</servlet-name>
     <servlet-class>controller.PublicIndexThongBaoQLDTController</servlet-class>
  </servlet>
  <servlet-mapping>
     <servlet-name>PublicIndexThongBaoQLDTController</servlet-name>
     <url-pattern>/thong-bao-qldt</url-pattern>
  </servlet-mapping>
  
  <servlet>
     <servlet-name>PublicIndexThongBaoOldQLDTController</servlet-name>
     <servlet-class>controller.PublicIndexThongBaoOldQLDTController</servlet-class>
  </servlet>
  <servlet-mapping>
     <servlet-name>PublicIndexThongBaoOldQLDTController</servlet-name>
     <url-pattern>/thong-bao-old-qldt</url-pattern>
  </servlet-mapping>
  
  <servlet>
     <servlet-name>PublicDangKyNghiemThuController</servlet-name>
     <servlet-class>controller.PublicDangKyNghiemThuController</servlet-class>
  </servlet>
  <servlet-mapping>
     <servlet-name>PublicDangKyNghiemThuController</servlet-name>
     <url-pattern>/dangky-nghiemthu</url-pattern>
  </servlet-mapping>
  
  
  
  
    <servlet>
		<servlet-name>ConnectorServlet</servlet-name>
		<servlet-class>com.ckfinder.connector.ConnectorServlet</servlet-class>
		<init-param>
			<description>
				Path to configuration file can be relative path inside application,
				absolute path on local file system or UNC path.
			</description>
			<param-name>XMLConfig</param-name>
			<param-value>/WEB-INF/config.xml</param-value>
		</init-param>
		<init-param>
			<param-name>debug</param-name>
			<param-value>false</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>ConnectorServlet</servlet-name>
		<url-pattern>
			/ckfinder/core/connector/java/connector.java
		</url-pattern>
	</servlet-mapping>
	
	<session-config>
		<session-timeout>10</session-timeout>
	</session-config>
	
</web-app>